.banner{
  height: 60vh;
  max-height: 700px;
  background: url('../img/header_int.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &:before{
    background-color: rgba(0, 43, 107, 0.57);
    content: '';
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
  }
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    z-index: 5;
    position: relative;
    flex-direction: column;
    img{
      width: 150px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

}