<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Контакты</title>
    {% include 'templates/head.html' %}
</head>
<body>

<div class="wrapper-for-modal" id="example">
    <div class="shadow-wrapper" id="shadow">
        <div class="main">
            <section id="home">
                {% include 'templates/banner.html' %}
            </section>

            <section>
                {% include 'templates/contact.html' %}
            </section>
            <section id="contacs">
                {% include 'templates/footer.html' %}
            </section>
        </div>

    </div>
</div>
</body>

</html>