<div class="container-fluid px-0">
   
    <div class="row no-gutters">
        <div class="col-lg-6 col-12">
            <div class="about__content ">
            <h3>миссия</h3>

          

            <h5 class="py-5 text-uppercase">Наш приоритет - надежность и качество оказываемых услуг!</h5>
           <div class="row">
            <div class="col-lg-2"><img class="w-100" src="/img/logo.svg" alt=""></div>
            <div class="col-lg-10">

       <p><span>Мы разрабатываем для предприятий Казахстана и СНГ современные, качественные, работающие стандарты, нормы и другие документы, позволяющие оптимизировать производственные процессы и минимизировать расходы!</span></p>

    </div>
            </div>
        </div>
        </div>
        <div class="col-lg-6 col-12 phone-first"><div class="about__img">
            <img src="/img/home3.jpg" alt="">
        </div>
        </div>

        <div class="col-lg-6">
            <div class="about__img">
                <img src="/img/home2.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-6">
                    <div class="about__content  p-lg-5">
                <h3>О компании</h3>
                        <p><span>
                            
                            На протяжении последних 16 лет ТОО «Стройинжиниринг Астана» активно принимает участие в работе национальных и межгосударственных технических комитетов по стандартизации в нефтегазовой промышленности, делится имеющимися знаниями и опытом.

                            Товарищество помогает организациям совершенствоваться, предлагая комплекс услуг /выполнение работ в области технического регулирования и стандартизации, промышленной безопасности и охраны труда, нормирования расхода и потерь товарно-материальных ценностей, проведения испытаний и обучения персонала, а также осуществление технического перевода различного рода документов.
                            
                            На сегодняшний день в Товариществе сформировалась сильная команда профессионалов, и компания смогла зарекомендовать себя в качестве значимого игрока рынка в своем направлении как качественный и надежный исполнитель.

                        </span></p>

            </div>
        </div>

    </div>
</div>