
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-6">
            <div class="about__img">
                <img src="img/our.jpg" alt="">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="about__content">
                <h3 class="my-4">НЕМНОГО О НАС</h3>
                <p>
                    Ресторан узбекской кухни Uzbekistan — это уголок Узбекистана в столице Казахстана, где собираются все, кто хочет отдохнуть от насыщенной будничной суеты, приятно провести время и окунуться в дивный мир Востока. Посетить уютное заведение можно с коллегами, друзьями и детьми.У нас вы почувствуете домашний уют, дружескую и тёплую атмосферу.
                    Интерьер ресторана выполнен в восточном национальном стиле, который создаёт атмосферу изысканности, уюта и комфорта.
                    Оформление ресторана действует на посетителей расслабляюще и умиротворяюще.
                    Элементы восточного декора и конечно же традиционные узбекские керамические бабайчики, отображают особенности культуры и быта Узбекистана.В дни важных спортивных событий мы включаем прямые трансляции на больших экранах.
                </p>

            </div>
        </div>
        
    </div>
</div>
