<div class="container py-5">
    <h3 class="text-center text-uppercase my-5">Наш опыт в цифрах</h3>
    <div class="row benefits__inner text-center">


                             <div class="col-lg-3 col-6">

                    <h1 class="benefits__number font-weight-bold">122</h1>
                    <p class="benefits__title">СТ РК И ГОСТ</p>
                </div>

        <div class="col-lg-3 col-6">

                    <h1 class="benefits__number font-weight-bold">500</h1>
                    <p class="benefits__title">Стандарты организаций</p>
                </div>

        <div class="col-lg-3 col-6">

                    <h1 class="benefits__number font-weight-bold">15</h1>
                    <p class="benefits__title">Документы по промышленной безопасности</p>
                </div>

        <div class="col-lg-3 col-6">

            <h1 class="benefits__number font-weight-bold">165</h1>
            <p class="benefits__title">НПА и НИОКР</p>
        </div>

        
        <div class="col-lg-3 col-6">

            <h1 class="benefits__number font-weight-bold">120</h1>
            <p class="benefits__title">Нормы и Потери</p>
        </div>

        <div class="col-lg-3 col-6">

            <h1 class="benefits__number font-weight-bold">2222</h1>
            <p class="benefits__title">Человек обучено и аттестовано</p>
        </div>

        <div class="col-lg-3 col-6">

            <h1 class="benefits__number font-weight-bold">1009</h1><span>документов</span>
            <p class="benefits__title">переведено</p>
        </div>



        <script type="text/javascript">
            $(document).ready(function () {

                var show = true;
                var countbox = ".benefits__inner";
                $(window).on("scroll load resize", function () {
                    if (!show) return false;
                    var w_top = $(window).scrollTop();
                    var e_top = $(countbox).offset().top;
                    var w_height = $(window).height();
                    var d_height = $(document).height();
                    var e_height = $(countbox).outerHeight();
                    if (w_top + 500 >= e_top || w_height + w_top == d_height || e_height + e_top < w_height) {
                        $('.benefits__number').css('opacity', '1');
                        $('.benefits__number').spincrement({
                            thousandSeparator: "",
                            duration: 1200
                        });

                        show = false;
                    }
                });

            });
        </script>
           </div>
    </div>
</div>



<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2"><img class="w-100" src="/img/logo.svg" alt=""></div>
        <div class="col-lg-10">
            <p class="py-5">Товарищество в рамках договора об оказании консультационных услуг разрабатывает изменения и дополнения в следующие нормативные документы:

                - ГОСТ 27751-2014 «Надежность строительных конструкций и оснований. Основные положения» (скачать(активная ссылка на скачивание при нажатии) первую редакцию);
                - СНиП 2.01.07-85 «Нагрузки и воздействия» (скачать(активная ссылка на скачивание при нажатии) первую редакцию);
                - СНиП РК 5.04-23-2002 «Стальные конструкции. Нормы проектирования» (скачать(активная ссылка на скачивание при нажатии) первую редакцию)</p>


        </div>
</div>
</div>


<div class="container">
    <h3 class="text-center text-uppercase mt-5">Нам доверяют</h3>
    <div class="row">

        <div class="col-lg-12 py-5">

            <div class="owl-carousel owl-theme">

                <div class="guest__item">
                    <img src="img/global.png" alt="">
                </div>

                <div class="guest__item">
                    <img src="img/kmg.png" alt="">

                </div>


                <div class="guest__item">
                    <img src="img/kto.png" alt="">

                </div>


                <div class="guest__item">
                    <img src="img/petro.png" alt="">

                </div>


                <div class="guest__item">
                    <img src="img/hill.png" alt="">

                </div>


                <div class="guest__item">
                    <img src="img/hone.png" alt="">

                </div>


                <div class="guest__item">
                    <img src="img/inter.png" alt="">

                </div>

                <div class="guest__item">
                    <img src="img/kpo.png" alt="">

                </div>


                <div class="guest__item">
                    <img src="img/ncoc.png" alt="">

                </div>


                <div class="guest__item">
                    <img src="img/agp.png" alt="">

                </div>

            </div>

        </div>
    </div>
</div>

