<div class="container-fluid">
    <div class="row">
        <div class="guest__wrapp">
            <h3 class="text-white text-uppercase">Наши гости</h3>

            <div class="owl-carousel owl-theme">

            <div class="guest__item">
        <img src="img/14288090_910376632402024_7133202863404089344_n.jpg" alt="">
        <p>Василий Лев2ит</p>
    </div>

                <div class="guest__item">
                    <img src="img/14288090_910376632402024_7133202863404089344_n.jpg" alt="">
                    <p>Василий Лев2ит</p>
                </div>


                <div class="guest__item">
                    <img src="img/14288090_910376632402024_7133202863404089344_n.jpg" alt="">
                    <p>Василий Лев2ит</p>
                </div>


                <div class="guest__item">
                    <img src="img/14288090_910376632402024_7133202863404089344_n.jpg" alt="">
                    <p>Василий Лев2ит</p>
                </div>




            </div>


</div>
    </div>
</div>





