<div class="home-video">

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/img/video_compress.mp4" type="video/mp4">
        <source src="/img/video_compress.webm" type="video/webm" />
    </video>
   <div class="home-video__text">
                 <h3 class="display-5 text-uppercase">Успешные решения и долгосрочный результат.</br>
                    Исполнение в оптимально сжатые сроки</h3>

   </div>

<!--    <div id="down" class="home-video__arrow"><img src="img/arrow.svg" alt=""></div>-->

</div>