<div class="container">
    <h1 class="my-5">БАНКЕТНОЕ МЕНЮ</h1>
    <div class="row">

<div class="menu__item">
            <img src="/img/banket2.jpg" alt="">
            <h5>БЕШБАРМАК</h5>
        </div>



        <div class="menu__item">
            <img src="img/banket3.jpg" alt="">
            <h5>СУДАК</h5>
        </div>


        <div class="menu__item">
            <img src="img/banket4.jpg" alt="">
            <h5>ШАХ ПЛОВ</h5>
        </div>



    </div>

</div>

<div class="container py-5">

<div class="row">
    <div class="col-12">
    <div class="btn btn-lg btn-primary">Скачать Меню в PDF</div>
    </div>
</div>
</div>